<ul class="nav nav-tabs" id="Tablas" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="cursos-tab" data-bs-toggle="tab" data-bs-target="#Cursos" type="button" role="tab" aria-controls="Cursos" aria-selected="true">Cursos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="categorias-tab" data-bs-toggle="tab" data-bs-target="#Categorias" type="button" role="tab" aria-controls="Categorias" aria-selected="false">Categorias</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="usuarios-tab" data-bs-toggle="tab" data-bs-target="#Usuarios" type="button" role="tab" aria-controls="Usuarios" aria-selected="false">Usuarios</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="instructores-tab" data-bs-toggle="tab" data-bs-target="#Instructores" type="button" role="tab" aria-controls="Instructores" aria-selected="true">Instructores</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="clases-tab" data-bs-toggle="tab" data-bs-target="#Clases" type="button" role="tab" aria-controls="Clases" aria-selected="false">Clases</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="registros-tab" data-bs-toggle="tab" data-bs-target="#Registros" type="button" role="tab" aria-controls="Registros" aria-selected="false">Registros</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Cursos" role="tabpanel" aria-labelledby="cursos-tab">
        <div id="Cargar_VPCursos">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Categorias" role="tabpanel" aria-labelledby="categorias-tab">
        <div id="Cargar_VPCategorias">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Usuarios" role="tabpanel" aria-labelledby="usuarios-tab">
        <div id="Cargar_VPUsuarios">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Instructores" role="tabpanel" aria-labelledby="instructores-tab">
        <div id="Cargar_VPInstructores">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Clases" role="tabpanel" aria-labelledby="clases-tab">
        <div id="Cargar_VPClases">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Registros" role="tabpanel" aria-labelledby="registros-tab">
        <div id="Cargar_VPRegistros">
            <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    </div>


@section Scripts {
    <script>
        $(document).ready(function () {
            CargarVPCursos();

            $('#cursos-tab').click(function () {
                CargarVPCursos();
            });

            $('#categorias-tab').click(function () {
                CargarVPCategorias();
            });

            $('#usuarios-tab').click(function () {
                CargarVPUsuarios();
            });

            $('#instructores-tab').click(function () {
                CargarVPInstructores();
            });

            $('#clases-tab').click(function () {
                CargarVPClases();
            });
            $('#registros-tab').click(function () {
                CargarVPRegistros();
            });
        });

        function CargarVPCursos() {
            $("#Cargar_VPCursos").load('@Url.Action("ListaCursos", "Cursos")');
        }

        function CargarVPCategorias() {
            $("#Cargar_VPCategorias").load('@Url.Action("ListaCategorias", "Categorias")');
        }

        function CargarVPUsuarios() {
            $("#Cargar_VPUsuarios").load('@Url.Action("ListaUsuarios", "Usuarios")');
        }

        function CargarVPInstructores() {
            $("#Cargar_VPInstructores").load('@Url.Action("ListaInstructores", "Instructores")');
        }

        function CargarVPClases() {
            $("#Cargar_VPClases").load('@Url.Action("ListaClases", "Clases")');
        }

        function CargarVPRegistros() {
            $("#Cargar_VPRegistros").load('@Url.Action("ListaRegistros", "Registros")');
        } 
    </script>
}

