@model IEnumerable<MSP_ProyectoMultimedia2024.Models.Tables.Registro>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5 p-4" style="background-color: #f0f0f0; border-radius: 10px;">
    <h1 class="text-center mb-4" style="font-family: Arial, sans-serif; color: #333;">Listado de Registros</h1>

    <p class="text-right mb-3">
        <a asp-action="Create" class="btn btn-lg btn-success">Crear Nuevo Registro</a>
    </p>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FechaInscripcion)</th>
                    <th>@Html.DisplayNameFor(model => model.Curso)</th>
                    <th>@Html.DisplayNameFor(model => model.Usuario)</th>
                    <th class="text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FechaInscripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Curso.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Usuario.Apellido)</td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
